<!DOCTYPE html>
<html>
<head>
    <title>Analiz Yapılıyor</title>
    <link rel="icon" href="~/images/logoico.ico" type="image/x-icon">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F993725ENR"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-F993725ENR');</script>
    
    <meta name="keywords" content="Fal, Falcı, Analiz, İçses, İçsesAnaliz,içsesanaliz,içsesanaliz.com,www.içsesanaliz.com,icsesanaliz.com,iç ses analiz,İç Ses Analiz,icses analiz, içsesanaliz, İçsesanaliz,burçların özellikleri,blog,blog yazıları,günlük analiz, burç, burçlar, büyü, kişilik, rüya, yorum, fıkra, günlük, komedi, aşk, aşk analizi, finans analizi, günlük analiz, günlük analiz yaptırmak istiyorum.">
</head>
<body>
    <h2 style="text-align:center; color:red;" class="h-100">Analiz yapılıyor lütfen bekleyiniz. Analiz yapılırken sayfayı kapatmayınız. Aksi halde analiz hakkınız iptal olabilir. </h2>
    <div style="display:block; text-align:center">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1266803097331707"
                crossorigin="anonymous"></script>
        <!-- Analiz genel -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-1266803097331707"
             data-ad-slot="7293380129"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    <!-- Homepage Leaderboard -->

</body>
</html>
<meta http-equiv="refresh" content="9;url=@Url.Action("Show","User")" />